:root{
  --bg-popup:#fff;
  --color-popup:#000;
  --shadow-popup:rgb(20,20,20);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}


.popup__body {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}
.popup__body::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: var(--shadow-popup);
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  transform: scale(0.04), translateY(9999px);
  overflow: hidden;
  opacity: .8;
}
.popup_open .popup__body {
    top: 0;
}
.popup_open .popup__body:before {
    -webkit-animation: popup-animation 0.8s ease-out forwards;
          animation: popup-animation 0.8s ease-out forwards;
  }
.popup__content{
  /* animation: animate_border 5s ease infinite, animate_gradient 5s ease infinite ; */
  padding: 20px;
  position: relative;
  background-color: var(--bg-popup);
  color: var(--color-popup);
  opacity: 0;
  transform: translate3d(0, 36px, 0);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 3px;
  width: 350px;
}

.popup_open .popup__content{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.cls {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;

}

.x{
  position: relative;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #ff2d37;
  width: fit-content;
  transition: all .3s linear;
}

.x::after{
  content: '';
  width: 27.2px;
  height: 27.2px;
  position: absolute;
  top: 0;
  left: -50%;
  opacity: 0.8;
  border: #ff2d37 solid 2px;
  border-radius: 100%;
  opacity: 0;
  transition: all .3s linear;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 10px;
  width: 150px;
  border-radius: 3px;  
  cursor: pointer;
  border: none;
  transition: all .3s linear;
  background-color: chocolate;
  color: #fff;
}

.button:hover {
  background-color: cornflowerblue;
}

textarea {
  padding: 10px;
  width: 100%;
}

.x:hover::after {
  opacity: 1;

}

@-webkit-keyframes popup-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes popup-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}




@keyframes animate_border {
	0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
	50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
	}
	100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
}