:root{
  --color-wite: #ffffff;
  --color-light: #ffffff;
  --color-dark: green;
}


button.print-button {
  width: 58px;
  height: 58px;
}
span.print-icon,
span.print-icon::before,
span.print-icon::after,
button.print-button:hover .print-icon::after {
  border: solid 2px var(--color-dark);
}
span.print-icon::after {
  border-width: 2px;
}

button.print-button {
  position: relative;
  padding: 0;
  border: 0;

  border: none;
  background: transparent;
}

span.print-icon,
span.print-icon::before,
span.print-icon::after,
button.print-button:hover .print-icon::after {
  box-sizing: border-box;
  background-color: var(--color-wite);
}

span.print-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: 20%;

  width: 60%;
  height: 35%;
  background: var(--color-wite);
  border-radius: 20% 20% 0 0;
}

span.print-icon::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;

  transition: height 0.2s 0.15s;
}

span.print-icon::after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: var(--color-wite);
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient(
    to top,
    var(--color-wite) 0,
    var(--color-wite) 14%,
    var(--color-dark) 14%,
    var(--color-dark) 28%,
    var(--color-wite) 28%,
    var(--color-wite) 42%,
    var(--color-dark) 42%,
    var(--color-dark) 56%,
    var(--color-wite) 56%,
    var(--color-wite) 70%,
    var(--color-dark) 70%,
    var(--color-dark) 84%,
    var(--color-wite) 84%,
    var(--color-wite) 100%
  );

  transition: height 0.2s, border-width 0s 0.2s, width 0s 0.2s;
}

button.print-button:hover {
  cursor: pointer;
}

button.print-button:hover .print-icon::before {
  height: 0px;
  transition: height 0.2s;
}
button.print-button:hover .print-icon::after {
  height: 120%;
  transition: height 0.2s 0.15s, border-width 0s 0.16s;
}