@import url('./popup.css');
@import url('./print.css');


@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
header {
  padding: 10px 0;
}

.wrapper {
  width: 100%;   
  margin: 0 auto;  
  background-color:antiquewhite;   
}

.controls {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.controls a {
  text-decoration: none;
  font-size: 1em;  
  border: solid 2px;
  color: green;
  height: 28px;
  width: 28px;  
  display: flex;
  align-items: center;
  justify-content: center;  
}

.container{
  background-size: contain;  
  display: flex;
  align-items: center;
  flex-direction: column;  
  justify-content: space-evenly;
  padding: 110px;
}
p {
  color: #4F4C40;
  font-family: 'Roboto', sans-serif;
}


h1 {
  text-transform: uppercase;
  font-size: 88px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #926188; 
  user-select: none; 
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 30px;
   text-transform: uppercase;
  line-height: 1em;
  
  color: #4F4C40; 
  user-select: none;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  /* margin-top: 30px; */
  line-height: 0;  
  color: #4F4C40; 
  user-select: none;
  text-align: center;
}

.name {
  font-family: 'Marck Script', cursive;
  font-weight: 400;
  font-size: 40px;      
  color: #333; 
  text-align: center;
}

.text {  
  font-size: 24px;   
  color: #4F4C40;    
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.atribut {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.date,
.signature {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-size: 20px;
  /* margin-top: 36px;   */
  color: #4F4C40;     
  text-align: center;
  width: 190px;
  border-bottom: 1px solid #4F4C40 ;
  line-height: 0px;
  padding: 18px 0;
  position: relative;
  user-select: none;
}

.signature .name {
  font-size: 20px;
  margin-top: 0;
}

.date::after {
  content: 'ДАТА'; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 52px;
  transform: translate(-50%, 0%);
}

.signature::after {
  content: 'ДИРЕКТОР';  
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 52px;
  transform: translate(-50%, 0%);
}













